<% if flash[:alert] %>
  <div class="alert alert-danger">
    <%= flash[:alert] %>
  </div>
<% end %>

<%= form_with url: search_path, method: :get, local: true do |f| %>

   <%= f.label :keyword, "Keyword" %>
  <%= f.text_field :keyword, placeholder: "Enter keyword" %>

  <%= f.label :model, "Search for" %>
  <%= f.select :model, options_for_select([["User", "user"], ["Post", "post"], ["迷子ペット", "lost_pet"]]) %>

  <%= f.label :match, "Match type" %>
  <%= f.select :match, options_for_select([["完全一致", "perfect"], ["部分一致", "partial"]]) %>

  <%= f.submit "検索" %>
<% end %>