<% if user_signed_in? %>
  <div class="text-center my-3">
    <%= render 'public/shared/search_form' %>
  </div>
<% end %>

<h1>ТіЋуе┐СИђУдД</h1>
<% if user_signed_in? && !current_user.guest_user? %>
  <p>
    <%= link_to '№╝І ТіЋуе┐сЂЎсѓІ', new_post_path, class: 'btn btn-success' %>
  </p>
<% end %>


<% @posts.each do |post| %>

  <% if post.image.attached? %>
    <%= image_tag(post.image, width: 300) %>
  <% else %>
    <p>ућ╗тЃЈсЂфсЂЌ</p>
  <% end %>

  <h2>
    <%= link_to post.title, post_path(post.id)  %>
  </h2>

  <p><%= truncate(post.body, length: 100) %></p> 

  <p>­Ъњг сѓ│сЃАсЃ│сЃѕТЋ░: <%= post.comments.count %></p>

  <% if user_signed_in? %>
  <div class="mb-2 d-flex align-items-center" style="gap: 6px; font-size: 1.1rem;">
    <% liked = current_user.liked_posts.include?(post) %>
    <% like_count = post.likes.count %>

    <% if liked %>
      <%= button_to post_like_path(post), method: :delete, class: "btn btn-link p-0", form: { class: "d-inline" } do %>
        <i class="fas fa-heart text-danger"></i>
      <% end %>
    <% else %>
      <%= button_to post_like_path(post), method: :post, class: "btn btn-link p-0", form: { class: "d-inline" } do %>
        <% if like_count.zero? %>
          <i class="fas fa-heart text-primary"></i>
        <% else %>
          <i class="fas fa-heart text-danger"></i>
        <% end %>
      <% end %>
    <% end %>

    <% if like_count.zero? %>
      <span class="text-primary"><%= like_count %></span>
    <% else %>
      <span class="text-danger"><%= like_count %></span>
    <% end %>
  </div>
<% end %>


  <p>ТіЋуе┐УђЁ:
    <% if post.user.avatar.attached? %>
      <%= image_tag post.user.avatar.variant(resize: "40x40"), class: "rounded-circle", alt: post.user.name %>
    <% end %>
    <%= link_to post.user.name, user_path(post.user), class: "ms-2" %>
   </p>
  <hr>
<% end %>