<h2><%= @user.name %> さんのプロフィール</h2>
<p>メールアドレス: <%= @user.email %></p>

<% if @user.introduction.present? %>
  <h3>自己紹介</h3>
  <p><%= simple_format(@user.introduction) %></p>
<% else %>
  <p>自己紹介はまだありません。</p>
<% end %>

<div style="margin-top: 2em;">
 <%= link_to 'ユーザー情報を編集', edit_user_path(current_user) %> |
 <%= link_to '退会', user_path(current_user), method: :delete, data: { confirm: '本当に退会しますか？' } %>

</div>

