<h1>タグ: <%= @tag.name %></h1>

<% if @posts.any? %>
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <% @posts.each do |post| %>
      <div class="col">
        <div class="card h-100">
        <div class="ratio ratio-4x3">
        <% if post.image.attached? %>
          <%= image_tag post.image, class: 'img-fluid w-100 h-100', style: 'object-fit: cover;' %>
        <% else %>
          <%= image_tag 'default_image.jpg', class: 'img-fluid w-100 h-100', style: 'object-fit: cover;' %>
        <% end %>
      </div>
          <div class="card-body">
            <h5 class="card-title"><%= post.title %></h5>
            <p class="card-text"><%= truncate(post.body, length: 80) %></p>
            <%= link_to '詳細', post_path(post), class: 'btn btn-primary btn-sm' %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% else %>
  <p>このタグに関連する投稿はありません。</p>
<% end %>