<main>
<% if user_signed_in? %>
  <div class="text-center my-3">
    <%= render 'public/shared/search_form' %>
  </div>
<% end %>

  <h1>迷子ペット一覧</h1>
  <% if user_signed_in? && !current_user.guest_user? %>
    <p>
      <%= link_to '＋ 迷子ペットを投稿する', new_lost_pet_path, class: 'btn btn-success' %>
    </p>
  <% end %>

  <div class="container">
    <div class="row">
      <% if @lost_pets.present? %>
        <% @lost_pets.each do |lost_pet| %>
          <div class="col-md-4 mb-4">
            <div class="card">
              <% if lost_pet.image.attached? %>
                <%= image_tag lost_pet.image, class: 'card-img-top' %>
              <% else %>
                <%= image_tag 'default_image.jpg', class: 'card-img-top' %>
              <% end %>

              <div class="card-body">
                <h5 class="card-title"><%= lost_pet.title %></h5>
                <p class="card-text">
                  <strong>名前:</strong> <%= lost_pet.name %><br>
                  <strong>性別:</strong> <%= lost_pet.gender %><br>
                  <strong>種類:</strong> <%= lost_pet.animal_type %><br>               
                  <strong>特徴:</strong> <%= lost_pet.feature %><br>
                  <strong>説明:</strong> <%= lost_pet.description.truncate(100) %><br>
                  <strong>最終目撃場所:</strong> <%= lost_pet.last_seen_location %><br>
                  <strong>行方不明日:</strong> <%= lost_pet.missing_date.strftime('%Y年%m月%d日') %><br>
                  <strong>経度:</strong> <%= lost_pet.longitude %><br>
                  <strong>緯度:</strong> <%= lost_pet.latitude %><br>
                  <strong>ステータス:</strong> <%= lost_pet.status == 0 ? '未発見' : '発見' %><br>
                  <strong>💬 コメント数:</strong> <%= lost_pet.lost_pet_comments.count %> 件<br>
                  <strong>投稿者:</strong> 
                    <% if lost_pet.user.avatar.attached? %>
                      <%= image_tag lost_pet.user.avatar.variant(resize: "40x40"), class: "rounded-circle", alt: lost_pet.user.name %>
                    <% end %>
                    <%= link_to lost_pet.user.name, user_path(lost_pet.user), class: "ms-2" %><br>
                </p>
                <%= link_to '詳細', lost_pet_path(lost_pet), class: 'btn btn-primary' %>
              </div>
            </div>
          </div>
        <% end %>
      <% else %>
        <p>迷子ペットはまだ登録されていません。</p>
      <% end %>
    </div>
  </div>
</main>
