<main>
  <h1>迷子ペットの投稿</h1>
  <div class="container">
    <div class="row">
      <div class="col-md-6 mx-auto">
        <%= form_with model: @lost_pet, local: true, html: { multipart: true } do |form| %>
          <%= render 'public/shared/lost_pets_form', form: form %>
          <%= form.submit '投稿する', class: 'btn btn-primary' %>
        <% end %>

        <%= link_to '投稿一覧に戻る', posts_path, class: 'btn btn-secondary', style: 'margin-top: 20px;' %>
      </div>
    </div>
  </div>
  <%= javascript_pack_tag "jpostal",  'data-turbolinks-track': 'reload' %>
</main>

