<h1>迷子ペット情報</h1>

<% if @lost_pet.image.attached? %>
  <%= image_tag @lost_pet.image, width: "500" %>

<% else %>
  <p>画像は登録されていません。</p>
<% end %>

<p><strong>タイトル:</strong> <%= @lost_pet.title %></p>
<p><strong>名前:</strong> <%= @lost_pet.name %></p>
<p><strong>性別:</strong> <%= LostPet.genders[@lost_pet.gender] == "male" ? "オス" : LostPet.genders[@lost_pet.gender] == "female" ? "メス" : "不明" %></p>
<p><strong>種類:</strong> <%= @lost_pet.animal_type %></p>
<p><strong>特徴:</strong> <%= @lost_pet.feature %></p>
<p><strong>説明:</strong> <%= @lost_pet.description %></p>
<p><strong>最終目撃場所:</strong> <%= @lost_pet.last_seen_location %></p>
<p><strong>タグ:</strong>
  <% if @lost_pet.tags.any? %>
    <% @lost_pet.tags.each do |tag| %>
      <span class="badge bg-secondary me-1"><%= tag.name %></span>
    <% end %>
  <% else %>
    <span>タグはありません</span>
  <% end %>
</p>
<p><strong>行方不明日:</strong> <%= @lost_pet.missing_date.strftime("%Y年%m月%d日") %></p>
<p><strong>位置情報:</strong> <%= @lost_pet.address %></p>
<div class="container my-4">

<h2>地図で確認</h2>
  <div id="map"
       data-latitude="<%= @lost_pet.latitude %>"
       data-longitude="<%= @lost_pet.longitude %>"
       style="width: 100%; height: 400px;">
  </div>
</div>
<%= javascript_pack_tag 'map', 'data-turbolinks-track': 'reload' %>


<p><strong>ステータス:</strong> <%= @lost_pet.status == 0 ? "未発見" : "発見済み" %></p>
<p><strong>投稿者:</strong> 
  <% if @lost_pet.user.avatar.attached? %>
    <%= image_tag @lost_pet.user.avatar.variant(resize: "40x40"), class: "rounded-circle", alt: @lost_pet.user.name %>
  <% end %>
  <%= link_to @lost_pet.user.name, user_path(@lost_pet.user), class: "ms-2" %><br>
</p>

<div style="display: flex; gap: 10px;">
  <% if @lost_pet.user == current_user && !current_user.guest_user? %>
    <%= link_to "編集する", edit_lost_pet_path(@lost_pet), class: "btn btn-primary" %>
    <%= link_to "削除する", lost_pet_path(@lost_pet), method: :delete, data: { confirm: "本当に削除しますか？" }, class: "btn btn-danger" %>
  <% end %>
    <%= link_to "一覧へ戻る", lost_pets_path, class: "btn btn-secondary" %>
</div>

<%= form_with(model: [@lost_pet, @lost_pet.lost_pet_comments.build], local: true) do |f| %>
  <% if @lost_pet_comment&.errors&.any? %>
    <div class="error-messages">
      <ul>
        <% @lost_pet_comment.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  </div>
<% end %>

<%= render 'public/shared/comment_section',
            comments: @lost_pet.lost_pet_comments,
            parent: @lost_pet,
            comment_model: LostPetComment,
            comment_body_attribute: :comment,
            comment_body_method: :comment,
            delete_path: ->(comment) { lost_pet_lost_pet_comment_path(@lost_pet, comment) } %>